@import "~react-vis/dist/style.css";

body {
  background-color: #eee;
  padding: 0 30px;
}

.App {
  text-align: center;
}

.Nav {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  padding: 0 20px;
}

.Nav li {  
  line-height: 50px;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.Nav li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.Page {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 800px;
}

.Page-content {
  padding: 0 20px;
}